Source: ros-kinetic-magni-nav
Section: misc
Priority: extra
Maintainer: Rohan Agrawal <send2arohan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-magni-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-aruco-detect, ros-kinetic-fiducial-detect, ros-kinetic-fiducial-slam, ros-kinetic-move-base, ros-kinetic-move-basic
Description: The magni_nav package
